*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
}
.advertising{
    margin-top: 6px;
   margin-left: auto;
   margin-right: auto;
   width: 60em;
   height: 80px;
}
.advertising img{
   height: 100px;
}

.header_title{
    margin-top: 25px;
   background-image: url(/img/background.png);
   display: flex;
   align-items: center;
   justify-content: space-between;
   color: #fff;
   height: 55px;
}

.header_title img{
   width: 30px;
}


.header_title h1{
    margin-left: 200px;
   display: inline;
}

.header_title ul {
    margin-left: 50px;

}

.header_title ul li{
   display: inline;
   padding: 5px;

}

.header_title ul li a{
   color: #fff;
   font-size: 20px;
   
}
.header_title ul li:nth-child(2){
    margin-right: 30px;
   
}


.head_language {
    margin-right: 250px;
    color: #fff;
    font-size: 20px;
}

.search-container input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
  }
  
 .search-container button {
    background-color: aqua;
    float: right;
    padding: 6px 10px;
    margin-right: 16px;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  
  .header_nav {
    margin-top: 1px;
    background-color: #222;
    box-shadow: 0 3px 3px rgba(0,0,0,.4);
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .header_nav ul {
    margin-left: 200px;
  }
  .header_nav ul li{
    display: inline;
    padding: 4px;
  }

  .header_nav ul li a{
    color: #fff;
    font-size: 22px;
    
  }
  .nav_i{
    color: #fff;
    margin-right: 256px;
  }

  .slidebar{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 250px;
    
    
}


  swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    margin-right: 0;
  }



.menu_ad img{
margin-right: 250px;
margin-left: 20px;
width: 370px;
  }

  .shop {
    display: flex;
    margin: 25px 170px;
    margin-right: auto;
    margin-left: auto;
    width: 65em;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-top: 0;
    margin-bottom: 3px;
}

.product {
    margin: 5px;
    position: relative;
    width: 250px;
    height: 350px;
    background-color: #fff;
    border: 1px #a7a3a3;
    box-shadow: 0 3px 3px rgba(0,0,0,.4);

}
.product img{
    border-top-right-radius: 7px;
    border-top-left-radius:  7px;
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 250px;
}

.product h3{
    margin: 10px;
   font-size: 20px;
}

.product p{
    display: block;
   font-size: 15px;
   font-family:Arial, Helvetica, sans-serif;

}

.shop button{
  margin-top: 30px;
  margin-left: 5px;
    flex: 1 0 auto;
    font-size: 15px;
    line-height: 1;
    color: #8d94ad;
    padding: 15px 0;
    text-align: center;
    background-color: #6e7dff;
    cursor: pointer;
    border: 1px solid #dfe3e9;
    box-sizing: border-box;
    border-radius: 7px;
   width: 70px;
   height: 55px;
   color: #fff;

}






